<body>
<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">WORLD OF RUGS</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>USERNAME</a>
            </li>
            <li class="">
                <a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#sales-dropdown"><i class="fa fa-list-alt"></i> Sales<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="sales-dropdown" class="collapse">
                        <li>
                            <a href="#">New Sale</a>
                        </li>
                        <li>
                            <a href="#">Edit Sale</a>
                        </li>
                        <li>
                            <a href="#">Search Sales</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#inventory-dropdown"> <i class="fa fa-clipboard"></i> Inventory<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="inventory-dropdown" class="collapse">
                        <li>
                            <a href="#">Receiving</a>
                        </li>
                        <li>
                            <a href="#">Search Inventory</a>
                        </li>
                        <li>
                            <a href="#">Rug History</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#reports-dropdown"><i class="fa fa-calendar"></i> Reports<i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="reports-dropdown" class="collapse">
                        <li>
                            <a href="#">Daily Report</a>
                        </li>
                        <li>
                            <a href="#">Monthly Report</a>
                        </li>
                        <li>
                            <a href="#">Payroll</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>